<a href="https://colab.research.google.com/github/gogzicole/Hamoye-Data-science/blob/master/Graded_Quiz1_chigozie_mbonu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd #importing the pandas library to read csv from web link. 
import numpy as np
from pandas import DataFrame

In [5]:
url = "https://bit.ly/HDSC-StageOneDataset"    # assingning the web link to variable url

In [ ]:
df1 = pd.read_csv(url)     #importing the csv file from the url using pandas read csv method.
df1

CHECKING FOR MISSING VALUES

In [120]:
x = df1.iloc[:]
x.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

only the fuel unit column has missing values, and it sums up to 180

SKEWNESS

In [119]:
df1.skew(axis=0)

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

KURTOSIS

In [118]:
df1.kurtosis(axis=0)

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned         485.255851
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64

HIGHEST AVERAGE FUEL COST/UNIT DELIVERED YEAR

In [117]:
fuel_delivered =df1.groupby(["report_year",])["fuel_cost_per_unit_delivered"].mean()
fuel_delivered

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

PERCENTAGE CHANGE IN MEAN YEARS

In [116]:
mean_cost = df1.groupby(["report_year","fuel_type_code_pudl"]).sum()
mean_cost.head()

                                 utility_id_ferc1  ...  fuel_cost_per_mmbtu
report_year fuel_type_code_pudl                    ...
1994        coal                            50430  ...            682.14697
            gas                             54449  ...           1368.51941
            nuclear                          6643  ...            136.53400
            oil                             14821  ...           1147.21573
            other                            1208  ...             27.97400

[5 rows x 6 columns]

In [115]:
mean_cost["fuel_cost_per_unit_burned"].loc[[1994,1998],"coal"]

report_year  fuel_type_code_pudl
1994         coal                   14984.572
1998         coal                   11902.597
Name: fuel_cost_per_unit_burned, dtype: float64

In [114]:
year_1994,year_1998 = mean_cost["fuel_cost_per_unit_burned"].loc[[1994,1998],"coal"]
perc_change = ((year_1998 - year_1994))/ (year_1994) *100
perc_change

-20.56765451826049

CALCULATION OF CORRELATION

In [111]:
A =  df1.iloc[:,8]       #assigning fuel_cost_per_unit_burnt to variable A
B = df1.iloc[:,[1,2,6,7,9,10]] #assigning the remeining integer dataset to variable B
B

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
0                     1  ...                1.121
1                     1  ...                1.120
2                     2  ...                1.650
3                     2  ...                1.970
4                     2  ...                2.570
...                 ...  ...                  ...
29518                12  ...                9.030
29519                12  ...                6.950
29520                12  ...                8.990
29521                12  ...                1.110
29522                12  ...               11.680

[29523 rows x 6 columns]

In [112]:
a,b,c,d,e,f = [B.iloc[:,0],B.iloc[:,1],B.iloc[:,2],B.iloc[:,3],B.iloc[:,4],B.iloc[:,5]] #unpacking each column to variables a,b,c,d,e,f

In [113]:
def correl(a,b,c,d,e,f):       #defines a function that return the correlation of variable A to ech column 
  answer = []                         #and append the result to list
  for i in a,b,c,d,e,f:
    answer.append(A.corr(i))
  return answer
correl(a,b,c,d,e,f)
D = correl(a,b,c,d,e,f)
D

[-0.0378627075999726,
 0.013599134438134116,
 -0.018535416794825225,
 -0.010033808428853071,
 0.01100740329916511,
 -0.0004372104439704003]

In [108]:
df2 = {"utility_id_ferc1":-0.0378627075999726,"report_year":-0.018535416794825225,"fuel_qty_burned":-0.010033808428853071,"fuel_mmbtu_per_unit":-0.0004372104439704003,"fuel_cost_per_unit_delivered":0.01100740329916511,"fuel_cost_per_mmbtu":0.013599134438134116}
correlation = DataFrame(df2, index = [1]) #creates a dictionay with the correlation and hence forms a Dataframe with the answer.
correlation

   utility_id_ferc1  ...  fuel_cost_per_mmbtu
1         -0.037863  ...             0.013599

[1 rows x 6 columns]

In [428]:
correlation.min()

utility_id_ferc1               -0.037863
report_year                    -0.018535
fuel_qty_burned                -0.010034
fuel_mmbtu_per_unit            -0.000437
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu             0.013599
dtype: float64

GETING THE STANDARD DEVIATION AND 75TH PERCENTILE

In [107]:
df1.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]