In [ ]:
#importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
url = 'https://raw.githubusercontent.com/moreira-presh/HAMOYE-INTERNSHIP-2020/master/Data_for_UCI_named.csv'

In [ ]:
udf = pd.read_csv(url)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df.isna().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [ ]:
df = df.drop(columns = 'stab')

In [ ]:
X = df.drop(['stabf'],axis = 1)
y = df['stabf']

In [ ]:
df.stabf.value_counts() # before the split was carried out

unstable    6380
stable      3620
Name: stabf, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=1)

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(8000, 12)
(2000, 12)
(8000,)
(2000,)

In [ ]:
y_train.value_counts() # after split

unstable    5092
stable      2908
Name: stabf, dtype: int64

In [ ]:
y_test.value_counts() # after splitX

unstable    1288
stable       712
Name: stabf, dtype: int64

In [ ]:
X_train.head(3) # checking the Xtrain dataframe before transformation is done on it

          tau1      tau2      tau3  ...        g2        g3        g4
2694  6.255995  2.542401  7.024714  ...  0.618403  0.685739  0.660088
5140  5.070581  5.490253  8.075688  ...  0.097244  0.916955  0.129254
2568  1.220072  8.804028  3.874283  ...  0.923594  0.238881  0.660156

[3 rows x 12 columns]

In [ ]:
X_test.head(3) # checking the Xtest dataframe before transformation is done on it

          tau1      tau2      tau3  ...        g2        g3        g4
9953  6.877876  4.113820  9.356768  ...  0.845536  0.112440  0.822562
3850  5.802841  6.271371  4.731540  ...  0.416478  0.912846  0.861306
4962  2.286998  4.385142  2.830232  ...  0.130186  0.703887  0.063811

[3 rows x 12 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()

In [ ]:
transformed_X_train = scaler.fit_transform(X_train)
transformed_X_train = pd.DataFrame(transformed_X_train, columns = X_train.columns)

In [ ]:
transformed_X_train.head() # after applying transformation on the data

       tau1      tau2      tau3  ...        g2        g3        g4
0  0.367327 -0.986042  0.650447  ...  0.339859  0.585568  0.492239
1 -0.064659  0.089437  1.035079  ... -1.558488  1.429649 -1.443521
2 -1.467850  1.298418 -0.502536  ...  1.451534 -1.045743  0.492489
3  0.820081  0.529920  1.299657  ...  1.361958  1.604140  0.275303
4  0.665424 -1.425627  0.312300  ...  0.695660  1.137504 -1.312575

[5 rows x 12 columns]

In [ ]:
transformed_X_test = scaler.transform(X_test)
transformed_X_test = pd.DataFrame(transformed_X_test, columns = X_test.columns)
transformed_X_test.head() # after applying transformation on the data

       tau1      tau2      tau3  ...        g2        g3        g4
0  0.593951 -0.412733  1.503924  ...  1.167203 -1.507330  1.084726
1  0.202190  0.374416 -0.188800  ... -0.395660  1.414651  1.226011
2 -1.079044 -0.313745 -0.884634  ... -1.438495  0.651821 -1.682168
3 -0.083120 -1.107327  0.372805  ... -1.672322 -0.357714  1.055865
4  0.873921  1.438466  0.086662  ... -1.469731  0.956396 -0.819727

[5 rows x 12 columns]

In [ ]:
from sklearn.ensemble import RandomForestClassifier
Random_C = RandomForestClassifier(random_state=1)
Random_C.fit(transformed_X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [ ]:
predict = Random_C.predict(transformed_X_test)

In [ ]:
from sklearn.metrics import recall_score, accuracy_score, precision_score, f1_score, confusion_matrix

print("Accuracy score {}".format(round(accuracy_score(y_test, predict), 3)))
print("Precision score for label stable %.3f" % (precision_score(y_test, predict, pos_label='stable')))
print("Recall score for label stable {}".format(round(recall_score(y_test, predict, pos_label='stable'), 3)))
print("F1 score %.3f" % (f1_score(y_test, predict, pos_label='stable')))

Accuracy score 0.929
Precision score for label stable 0.919
Recall score for label stable 0.878
F1 score 0.898

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix

In [ ]:
confusion_matrix(y_test,predict, labels=['stable', 'unstable'])

array([[ 625,   87],
       [  55, 1233]])

In [ ]:
print(classification_report(y_test,predict))

              precision    recall  f1-score   support

      stable       0.92      0.88      0.90       712
    unstable       0.93      0.96      0.95      1288

    accuracy                           0.93      2000
   macro avg       0.93      0.92      0.92      2000
weighted avg       0.93      0.93      0.93      2000

### ***using XGBOOST***

In [ ]:
#xgboost
from xgboost import XGBClassifier
extreme = XGBClassifier(random_state =1)
extreme.fit(transformed_X_train, y_train)
extreme_pred = extreme.predict(transformed_X_test)

In [ ]:
#confusion Matrix

cnf_mat = confusion_matrix(y_true=y_test, y_pred=extreme_pred)
cnf_mat

array([[ 603,  109],
       [  52, 1236]])

In [ ]:
#classification report
from sklearn.metrics import classification_report

print(classification_report(y_test, extreme_pred))

              precision    recall  f1-score   support

      stable       0.92      0.85      0.88       712
    unstable       0.92      0.96      0.94      1288

    accuracy                           0.92      2000
   macro avg       0.92      0.90      0.91      2000
weighted avg       0.92      0.92      0.92      2000

In [ ]:
import lightgbm as lgbm

In [ ]:
lgbm = lgbm.LGBMClassifier(random_state=1)

In [ ]:
lgbm.fit(transformed_X_train,y_train)
lgbm_predict  = lgbm.predict(transformed_X_test)

In [ ]:
#confusion Matrix

cnf_mat = confusion_matrix(y_true=y_test, y_pred=lgbm_predict, labels=['stable', 'unstable'])
cnf_mat

array([[ 635,   77],
       [  48, 1240]])

In [ ]:
print(classification_report(y_test,lgbm_predict))

              precision    recall  f1-score   support

      stable       0.93      0.89      0.91       712
    unstable       0.94      0.96      0.95      1288

    accuracy                           0.94      2000
   macro avg       0.94      0.93      0.93      2000
weighted avg       0.94      0.94      0.94      2000

### ***using the Extra tree Classifier***

In [ ]:
from sklearn.ensemble import ExtraTreesClassifier

In [ ]:
Tree_CLass = ExtraTreesClassifier (random_state = 1)

In [ ]:
Tree_CLass.fit(transformed_X_train,y_train)
Tree_predict = Tree_CLass.predict(transformed_X_test)

In [ ]:
#confusion Matrix

cnf_mat = confusion_matrix(y_true=y_test, y_pred=Tree_predict, labels=['stable', 'unstable'])
cnf_mat

array([[ 606,  106],
       [  38, 1250]])

In [ ]:
print(classification_report(y_test,Tree_predict))

              precision    recall  f1-score   support

      stable       0.94      0.85      0.89       712
    unstable       0.92      0.97      0.95      1288

    accuracy                           0.93      2000
   macro avg       0.93      0.91      0.92      2000
weighted avg       0.93      0.93      0.93      2000

### ***perfoming Tuning with Hyperparameters setting***

In [ ]:
n_estimators = [50, 100, 300, 500, 1000]

min_samples_split = [2, 3, 5, 7, 9]

min_samples_leaf = [1, 2, 4, 6, 8]

max_features = ['auto', 'sqrt', 'log2', None] 

hyperparameter_grid = {'n_estimators': n_estimators,

                       'min_samples_leaf': min_samples_leaf,

                       'min_samples_split': min_samples_split,

                       'max_features': max_features}

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
Rand_search = RandomizedSearchCV(estimator = Tree_CLass, param_distributions= hyperparameter_grid, random_state=1)

In [ ]:
search = Rand_search.fit(transformed_X_train,y_train)

In [ ]:
#checking for the best parameter for the model
search.best_params_

{'max_features': None,
 'min_samples_leaf': 8,
 'min_samples_split': 2,
 'n_estimators': 1000}

In [ ]:
#experimenting with this parameter to test the model's performance
best_Tree_Class = ExtraTreesClassifier(n_estimators=1000, min_samples_split=2, 
                                 min_samples_leaf=8, max_features=None)
best_Tree_Class.fit(transformed_X_train, y_train)
best_Tree_Class = best_Tree_Class.predict(transformed_X_test)

In [ ]:
#new_predictions = log_reg.predict(normalised_test_df)
cnf_mat = confusion_matrix(y_true=y_test, y_pred=best_Tree_Class, labels=['stable', 'unstable'])
cnf_mat

array([[ 619,   93],
       [  53, 1235]])

In [ ]:
print(classification_report(y_test,best_Tree_Class, digits=4)) #  adding digits = 4 is to get my answer in 4dp.

              precision    recall  f1-score   support

      stable     0.9211    0.8694    0.8945       712
    unstable     0.9300    0.9589    0.9442      1288

    accuracy                         0.9270      2000
   macro avg     0.9256    0.9141    0.9193      2000
weighted avg     0.9268    0.9270    0.9265      2000

In [ ]:
print("Accuracy score {}".format(accuracy_score(y_test, best_Tree_Class)))

Accuracy score 0.927

In [ ]:
round(accuracy_score(y_test,best_Tree_Class),2)

0.93